.breadcrumbs {
    padding: 0.5rem;
}


.breadcrumbs > a {
    padding-left: 1%;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}

.breadcrumbs > a::after {
    position: absolute;
    content: ' / ';
}


.active:is(.active) {
    color: var(--primary-color);
    font-weight: 400;
    pointer-events: none;
}





